.clock {
  width: 400px;
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: #ccc;
  border-radius: 5px;
  align-items: center;
}

.analog-clock {
  width: 300px;
  height: 300px;
  background: white;
  position: relative;
  border-radius: 50%;
  margin: auto;
}

.hand {
  /* position: absolute;
  left: 50%;
  width: 150px;
  height: 150px; */
  /* transform-origin: bottom left; */
  position: absolute;
  top: 5%;
  left: 50%;
  height: 140px;
  width: 1px;
  transform-origin: bottom;
}

.seconds {
  border-left: 1px solid blue;
}
.minutes {
  border-left: 2px solid yellow;
}

.hours {
  border-left: 3px solid black;
  height: 125px;
  top: 10%;
}
